.header{
    position: relative;
    padding-top: 23px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 2;
    &__nav{
//        margin-right: 13px;
    }
    
    &__right{
        display: flex;
        width: 170px;
        justify-content: space-between;
        align-items: center;
    }
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select{
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    position: relative;
    
    &::after{
        content: "";
        position: absolute;
        display: block;
        width: 2px;
        height: 40px;
        top: 50%;
        transform: translateY(-50%);
        right: -30px;
        background-color: var(--color-white);
        @include laptop{
            right: -10px;
        }
    }
}

.marcet{
    display: flex;
    align-items: center;
    &__link{
        width: 30px;
        height: 30px;
        &:not(:last-child){
            margin-right: 16px;
        }
        
        svg{
            width: inherit;
            height: inherit;
        }
    }
    @include laptop{
        
    }
    
}

.burger{
    width: 25px;
    height: 30px;
    display: none;
//    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 999;
    position: relative;
    
    &::after{
        content: '';
        display: block;
        left: 0;top: 0;right: 0;bottom: 0;   
        z-index: 22;
    }
    
    &__item{
    display: block;
    height: 2px;
    width: 25px;
    background-color: var(--color-white);
    position: relative;
    
    &::after,
    &::before{
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        position: absolute;
        
        background-color: inherit;
    }
    &::before{
        top:-10px;
    }
    &::after{
        top: 10px;
        width: 50%;
        right: 0;
    }
    }
    @include laptop{
        display: flex;
    }
    
}























